<%- include("header"); -%>

<img class="display-image" src="/res/mydp.jpg" alt="mydp">
<div class="push-down">

</div>
<h1>Belu Cheems</h1>
<div class="background">

  <div class="character-box">
    <% for (var i=0; i<characterList.length; i++){ %>

    <form action="/delete" method="post">
      <div class="item">
        <!-- <input type="checkbox" name="checkbox" value="<%=characterList[i]._id%>" onChange="this.form.submit()"> -->
      </div>
      <input type="hidden" name="listName" value=""></input>
    </form>

    <div class="character-row">
      <%  if (i%2==0){ %>
      <img class="left-img" src=<%= characterList[i].imageUrl %>>
      <%  } else{ %>
      <img class="right-img" src=<%= characterList[i].imageUrl %>>
      <%  } %>
      <h3><%= characterList[i].name %></h3>
      <p><%= characterList[i].description %></p>

    </div>
    <%  } %>

  </div>
  <!-- <div class="box">
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value="">+</button>
    </form>
  </div> -->

</div>
<br>
<br>
<%- include("footer"); -%>
